input {
  margin:10px 0;
  padding:10px;
  border-radius:10px;
  border: 1px solid #aaa;
  transition: .3s border-color;
  &:hover{
    border: 1px solid #888;
  }
}

form{
  width: 300px;
}

button{
  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;

  /* usual styles */
  padding:10px;
  border:none;
  background-color:#413F54;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:50%;
  transition:all ease-in-out 0.3s;
  &:hover{
    background-color:#6e6a91;
    cursor:pointer;
  }
}