.header {
  height: 50px;
  width: calc(100% - 20px);
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #334155;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header img {
  max-height: 60px;
}

.burger_menu {
  color: #FFFFFF;
}

.header__mobile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e293b;
  cursor: pointer;
  transition: 1s;
  margin-left: 80%;
}

.header__mobile:hover {
  transform: rotate(180deg);
}

.header svg {
  width: 30px;
  height: 30px;
  stroke: #FFFFFF;
}

.mobile-overlay {
  display: none;
}

.mobile-overlay.active {
  display: block;
}

.header__mobile_close {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e293b;
  cursor: pointer;
  transition: 1s;
  margin-left: 75%;
  margin-top: -33px;
}

.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: #334155;
  padding: 50px 20px;
  transform: translateX(100%);
  transition: 1s transform cubic-bezier(0.57, 0.32, 0.64, 0.94);
  z-index: 99;
}

.nav-mobile.active {
  transform: initial;
}

.nav-mobile__profil {
  text-align: center;
  border-bottom: 1px solid #475569;
  padding-bottom: 20px;
}

.nav-mobile__profil img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  color: #94a3b8;
  font-size: 20px;
  display: block;
  margin: 10px 0;
}

.action {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.action a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  position: relative;
}

.action a:after {
  content: "";
  height: 1px;
  width: 0;
  background-color: #fff;
  position: absolute;
  bottom: -4px;
  right: 0;
  transition: 0.6s width ease-in-out;
}

.action a:hover:after {
  width: 100%;
  left: 0;
}

.nav-mobile__menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 25px;
  margin-bottom: 25px;
}

.nav-mobile__menu li {
  margin-bottom: 15px;
}

.nav-mobile__menu li:last-of-type {
  margin-bottom: initial;
}

.nav-mobile__menu li a {
  color: #FFFFFF;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  position: relative;
}

.nav-mobile__menu li a:after {
  content: "";
  height: 1px;
  width: 0;
  background-color: #fff;
  position: absolute;
  bottom: -4px;
  right: 0;
  transition: 0.2s width ease-in-out;
}

.nav-mobile__menu li a:hover:after {
  width: 100%;
  left: 0;
}

.nav-mobile__menu li a svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.burger_menu {
  text-align: center;
}

.fa-solid {
  color: #FFFFFF;
}

* {
  margin: 0 auto;
  padding: 0;
}

.home_title {
  text-align: center;
}

#landing_page {
  margin: auto;
}

.travail {
  background-image: url("../../img/img_home/liste_ordi.jpg");
}

.maison {
  background-image: url("../../img/img_home/list_papier.jpg");
}

.amis {
  background-image: url("../../img/img_home/post_it.jpg");
}

.mobile {
  background-image: url("../../img/img_home/phone.jpg");
}

.vue_haut {
  display: flex;
  width: 80vw;
  height: 60vh;
  margin: auto;
  margin-bottom: 2rem;
}

.vue_bas {
  display: flex;
  width: 80vw;
  height: 60vh;
  margin: auto;
  margin-bottom: 2rem;
}

.home_card {
  width: 45%;
  height: 100%;
  border-radius: 15px;
  background-size: cover;
}

.home_card:hover {
  filter: grayscale(0.8);
  color: black;
  text-shadow: #FFFFFF 2px 2px;
  text-decoration-color: black;
}

.text_img {
  text-align: center;
  margin-top: 45%;
}

input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #aaa;
  transition: 0.3s border-color;
}
input:hover {
  border: 1px solid #888;
}

form {
  width: 300px;
}

button {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;
  /* usual styles */
  padding: 10px;
  border: none;
  background-color: #413F54;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 50%;
  transition: all ease-in-out 0.3s;
}
button:hover {
  background-color: #6e6a91;
  cursor: pointer;
}

#form_inscription {
  width: 100%;
}

.form-label {
  display: block;
  margin-right: 1rem;
}

.form_nom {
  width: 600px;
  display: flex;
  align-items: center;
}

.mail_inscription {
  width: 80%;
  display: flex;
  align-items: center;
}

.contact_inscription {
  display: flex;
  align-items: center;
}

.form_inscription {
  margin: auto;
  margin-top: 4rem;
  border: 1px solid #424558;
  padding: 2rem;
  border-radius: 2pc;
  width: 300px;
}

.form-label {
  display: block;
}

.form-user-prenom-widget {
  width: 100%;
}

.form-user-nom-widget {
  width: 100%;
}

.form-user-mail-widget {
  width: 100%;
}

.form-user-telephone-widget {
  width: 100%;
}

.form-user-magasin-widget {
  width: 100%;
}

.form-user-password-widget {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
