{% extends 'base.html.twig' %}

{% block main %}
    <h1 class="home_title">Organisez votre temps et celui de vos collègues ! </h1>
    <section id="landing_page">

        <div class="vue_haut">
            <div class="travail home_card">
                <h2 class="text_img">Au travail</h2>
            </div>
            <div class="maison home_card">
                <h2 class="text_img">A la maison</h2>
            </div>
        </div>

        <div class="vue_bas">
            <div class="amis home_card">
                <h2 class="text_img">Avec vos amis</h2>
            </div>
            <div class="mobile home_card">
                <h2 class="text_img">Bientôt en appli mobile</h2>
            </div>
        </div>
    </section>

{% endblock %}